*{
	margin:0px;
	padding:0px;
	font-size:12px;
	font-family: "微软雅黑";
}
ul{list-style:none;}
body,html,#lunbo,.section,.con1{
				height: 100%;
			}
a{
	text-decoration: none;
}
.bc{
	background:rgba(0,0,0,0.5);
}
#lunbo ul{
	height:100%;
}
#lunbo li{
	width:100%; 
	height:100%; 
	position:relative;
			}
.lun1{
	height:100%;background:url(../img/bg_01.jpg);
	 background-size: cover; 
			}
.lun2{
	height:100%; background:url(../img/b2.jpg)  center; 
	background-size: cover; 
}
.lun3{
	height:100%; background:url(../img/b4.jpg); 
	background-size: cover; 
}
#img{
	position:absolute; 
	z-index:2; width:860px; 
	height:269px;  
	left:50%; 
	margin-left:-430px; 
	top:50%; 
	margin-top:-100px;
}

#img img{
	position:absolute;
}

#img img.bg {
				transition: all 2s;
				transform: scale(1);
				-webkit-transform: scale(1);
			}
.con2{
	background:url(../img/bg_02.jpg) center; 
	height:100%; 
	text-align: center;
}
.con3{
	background:url(../img/bg_03.jpg) center; 
	height:100%; 
	text-align: center;
}
.con4{
	background:url(../img/bg_04.jpg) center;
	 height:100%; 
	 text-align: center;
}
.con5{
	 height:100%; text-align: center; 
	 overflow:hidden;
}
.con6{
	background:url(../img/bg_06.jpg) center; 
	height:100%; 
	text-align: center;
}
.con7{
	background:url(../img/bg_07.jpg) center; 
	height:100%; 
	text-align: center;
}
.con8{
	background:url(../img/bg_08.jpg) center; 
	height:100%; 
	text-align: center;
}
.con9{
	background:url(../img/bg_09.jpg) center; 
	height:100%; 
	text-align: center;
}
.cc,.fc{
	font-size:30px; font-weight:normal;
	padding-top:40px;
	color:#009FDE;
	transform:scale(1);
	-webkit-transform: scale(1);
	transition:all 1s;	
}
.fc{
	padding-top:5px;
}
.wid{
	height:100px;
}
.con2_dl{
	margin:0px auto; 
	width:1000px;
	 height:100%;
}
.con2 dl{
	float: left; 
	margin:100px 40px; 
	width:165px; 
	position:relative; 
	z-index:1;
}
.con2 dl dt{
	height:164px; 
	width:165px; 
	text-align: center; 
	overflow: hidden; 
	position:relative; 
	margin-bottom:110px;
}
.con2 dl dt img,.zixun img{
	position:relative;
}
.con2 dl dd{
	color:#666; 
	line-height:25px; 
	font-size:13px; 
	text-align: center;
}
.con2 dl dd h2{
	font-weight: normal; 
	font-size:16px; 
	color:black;
}
#tblue{
	position:absolute; 
	background-color:#009FDE; 
	height:100%; width:100%;
	 z-index:-1; 
	 top:400px; 
	 display:none;
}
.con3 h2.cc{
	font-size:30px; font-weight:normal;
	transform:scale(1);
	-webkit-transform: scale(1);
	transition:all 1s;	
}
.con3 h3 img{
	width:100px; 
	height:10px;
}
.con3_dl{
	margin:0px auto; 
	width:1200px;
	 margin-top:40px;
}
.con3_dl dl:hover{
	cursor:pointer;
}
.con3_dl dl{
	float: left; 
	height:200px; 
	width:270px; 
	margin-right:25px; 
	margin-bottom:30px; 
	position: relative;  
	z-index:1; overflow:hidden; 
	z-index:0; 
	background:#FFFFFF; 
	top:200px; 
	opacity:0;
}
.con3 dl dd{
	 height:35px; 
	 color:black; 
	 width:100%; 
	 text-align:left; 
	 position:relative;
	  margin:0px; 
	  padding-left:5px; 
	  z-index:2;
}
.con3 dl dd span{
	color:#AAAAAA;
}
#zz{
	position:absolute; 
	top:-160px;
}
#cblue{
	height:42px; 
	width:270px; 
	background-color:#009FDE; 
	position:absolute; 
	top:200px; 
	z-index:1;
}

.con4_ul ul{
	width:1100px; 
	margin:0 auto; 
	padding-top:30px;
}
.con4_ul ul li img{
	position:absolute; 
	left:0;
}
.con4_ul ul li:nth-child(odd) img{
	top:60px;
}
.con4_ul ul li:nth-child(even) img{
	bottom:60px;
}
.con4_ul li{
	float:left; 
	border:1px solid #AAAAAA; 
	height:130px; 
	position:relative; width:213px; 
	backface-visibility: hidden;
	transition: all 2s;

}
.pic1{
	transform: rotateY(-180deg);
}

.pic2{
	opacity:1;
	transform: rotateY(0deg);
}
.con4_ul li:hover .pic2{
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
	backface-visibility: hidden;
	cursor:pointer;
	-webkit-transition: all 2s;
	transition: all 2s;
} 
.con4_ul li:hover .pic1{
	-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
	cursor:pointer;
	-webkit-transition: all 2s;
	transition: all 2s;
} 
.con5_ul{
	width:800px; height:550px;
	 margin:0 auto; 
	 position:relative;
	 overflow:hidden;
}
.con5_ul b{
	color:#980101; 
	position:absolute; 
	top:145px; 
	font-size:38px; 
	left:60px;
}
.con5_ul span{
	color:#009fde; 
	position:absolute; 
	top:200px; 
	font-size:32px; 
	left:60px;
}
.con5_ul p{
	position:absolute; 
	bottom:180px; 
	font-size:24px; 
	color:white; 
	left:190px; 
}
.con5_ul img{
	width:500px; 
	height:500px;
}
.con6 h2{
	color:#05A0DE;
}
#mp4 video{
	position:absolute;
	 z-index:-1; 
	 top:-10px; 
	 left:0px;
	 height: 100%; 
}
.con7_ul ul{
	overflow:hidden;
	margin-left:150px;
	width:1200px;
	
}
.con7_ul li{
	float:left;
	position:relative;
	height:193px;
	width:193px;
}
.con7_ul li img{
	vertical-align: top;
	position:relative;
	opacity: 0;
	z-index: 2;
}
.ss01{
	transform:scaleX(10) scaleY(10);
	-webkit-transform:scaleX(10) scaleY(10);
	-webkit-transition:width 1s,height 2s  ease;
}
.ss{
	transform:scale(1.1);
	-webkit-transform:scale(1.1);
	-webkit-transition:all 1s; 
	transition:all 1s; 
}
.con7_ul li div,.f{
	background-color:#05A0DE;
	position:absolute; 
	top:0px;
	height:100%;
	width:200%;
	opacity: 0;
}
.f{
	left:-100%;
}
.con7_ul li div p{
	display: block;
    margin: 10px 10px 10px 20px;
    color: #000;
    font-weight: bold;
    font-size: 16px;
}
.con7_ul li div b{
	display: block;
    margin: 10px 10px 1em 20px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}
.con7_ul li div span{
	display: block;
    margin: 10px 10px 10px 20px;
    font-size: 16px;
    color: #fff;
}
.daohangleft{
	 width:20px; 
	 position:fixed; 
	 top:50%; 
	 left:30px; 
	 z-index:3; 
	 margin-top:-100px;
}
#menu li,#menu a{
	width:8px; 
	height:8px;
	 border-radius:50%; 
	 background-color:#eee; 
	 margin-bottom:10px;
}
.header{
	width:100%; 
	height:53px; 
	position:fixed; 
	z-index: 100;
}
.logo{
	float: left;
    margin-top: 3px;
}
.nav{
	float: right;
	margin-top:20px;
}
.nav li{
	float:left;
	height:50px;
	line-height:50px;
}
.nav li a{
	display: block;
    margin: 0 20px;
    padding: 0 10px;
    font-size: 18px;
    color: #fff;
}
.w{
	width:1200px;
	margin:0 auto;
	margin-top:20px;
}
.zixun,#menu{
	position:fixed; 
	z-index:100; 
	right:-15px; 
	height:215px; 
	width:40px;  
	text-align: center;
	bottom:20px;
}
.zixun{
	height:200px;
}

.zixun img{
	background:rgba(0,0,0,0.3);
	vertical-align: top;
}
.zixun img:hover{
	cursor: pointer; 
}
#menu { left: 10px; 
top:35%; 
list-style-type: none; 
z-index: 70;
}
#menu a{ border-radius:50%;  
text-decoration: none; 
display:block;
}
#menu .active a { padding:2px;}
#navmenu li:hover{
	border-bottom:3px solid #009FDE;
}
.bt{
	border-bottom:3px solid #009FDE;
}
.cf{
	 width:1000px; 
	 margin: 0 auto; 
	 position:relative; 
	 height:500px;
}
.cf li{
	float:left; 
	position:absolute; 
	bottom:300px; 
	opacity:0;
}
.cf li span{
	width:150px; 
	background:yellow; 
	display:block; 
	margin:5px 0px; 
	font-size:12px; 
	color:white; 
	text-align:left; 
	height:25px; 
	line-height:25px; 
	padding-left:5px;
}
.cf li span:hover{
	transform:scale(1.1);
	transition:all 1s;
}
.cf .last{
	
	height:100px;  
	line-height:30px; 
	text-align:center;
}
.cf .i1{
	left:0px;
}
.cf .i1 span{
	background-color: #F2980C;
}
.cf .i2{
	left:180px;
}
.cf .i2 span{
	background-color: #1BB1ED;
}
.cf .i3{
	left:360px;
}
.cf .i3 span{
	background-color: #0099D6;
}
.cf .i4{
	left:540px;
}
.cf .i4 span{
	background-color: #007DAF;
}
.cf .i5{
	left:720px;
}
.cf .i5 span{
	background-color: #005C81;
}
.cf .i6{
	left:900px;
}
.cf .i6 span{
	background-color: #167B75;
}
.cf .i1 .last{
	background:url(../img/i1.png) no-repeat center -80px; 
}
.cf .i2 .last{
	background:url(../img/i2.png) no-repeat center -80px; 
}
.cf .i3 .last{
	background:url(../img/i3.png) no-repeat center -80px; 
}
.cf .i4 .last{
	background:url(../img/i4.png) no-repeat center -80px; 
}
.cf .i5 .last{
	background:url(../img/i6.png) no-repeat center -80px; 
}
.cf .i6 .last{
	background:url(../img/i6.png) no-repeat center -80px; 
}
.con8{
	max-width: 100%px;
    margin: 0 auto;
    position: relative;
    z-index: 3;
}
.con8 .wid h3 i{
	height:5px; width:100px; background-color:#009FDE; 
	display: block; margin-left:46%; margin-top:50px; 
}
.sec8 {
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    margin-top:60px;
    padding: 30px 0;
    color: #fff;
    font-size: 16px;
    height:230px;
}
.sec8 p{
	opacity:0;
	display:block;
}
.sec81 {
    text-align: center;
}
.sec81 img{
	width:32px;
	height:37px;
}
.sec82 {
    margin: 40px 0px 0px 0px;
    position:absolute;
    bottom:10px;
    width:100%;
    text-align: center;
}
.sec82 a{
	padding:20px 50px 15px 50px;
	background-color:#0099D6 ;
	font-size:30px;
	color:white;
	border-radius:5px ;
}
.right{
margin-top:50px;
float:right;
width:50%;
position:absolute;
left:100%;
text-align:left;
border-left: 1px solid #ddd;
overflow: hidden;
padding-left: 40px;
}
.left{
margin-top:100px;
float:left;
width:50%;
position:absolute;
text-align:right;
left:-50%;
}
.con9_ul{
position:relative;
width:100%;
}
.sec91{
    float:right;
    height: auto;
    margin-top: 150px;
    margin-right: 40px;
    overflow: hidden;
    display: block;
    text-align:right;
}
.sec91 span{
	background:url(../img/a_118.png) no-repeat;
	width:120px;
	height:120px;
	display:block;
	margin-left:200px;
}
.sec921 span{
	font-size: 30px;
    line-height: 50px;
    color: #000;
}
.sec921 p{
	font-size: 15px;
    color: #666;
    margin: 20px 0px 0px 0px;
    line-height: 36px;
    background: url(../img/a_113.png) no-repeat left 11px;
    padding: 0px 0px 0px 35px;
}
.sec922{
	margin: 20px 0px 0px 0px;
    padding: 20px 0px 0px 0px;
    font-size: 14px;
    color: #6a6a6a;
    line-height: 34px;
    overflow: hidden;
    border-top: 1px solid #ddd;
}
.sec9220 {
    margin: 20px 0px 0px 0px;
    padding: 20px 0px 0px 0px;
    font-size: 14px;
    color: #6a6a6a;
    line-height: 34px;
    overflow: hidden;
    border-top: 1px solid #ddd;
    display: none;
}
.sec922 b{
	color:#009FDE;
	font-weight:normal;
}
